@font-face 
{
    font-family: 'Plus Jakarta Sans';
    src: url('PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}




body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
html
{
    overflow: hidden;
}

.container {
    justify-content: space-between;
    align-items: flex-start;
    z-index: 10;
}


.sidebar-left {
    z-index: 9998;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 210px;
    background-color: #fff;
    border-right: 1px solid #dbdbdb;
    padding: 20px;
    left: -5;
    top: 0;
    transition: border-color 0.15s ease;
}

.sidebar-top {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sidebar-bottom {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.sidebar-item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 95%;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar-hoverable:hover {
    background-color: #e3e3e383;
}

.sidebar-item img {
    width: 25px;
    height: 25px;
    cursor: pointer;
    object-fit: contain;
}

#pfp-l {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.logo-container {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#logo-img-full {
    position: absolute;
    left: 6px;
    margin-bottom: 14px;
    transition: opacity 0.3s ease;
}

#logo-img-full {
    height: auto;
    width: 120px;
    opacity: 1;
}






/* main part */
.main-content 
{
    margin-left: 26%;
    width: calc(100% - 250px);
    padding: 20px;
    background-color: white;
}

.profile-header 
{
    margin-top: 28px;
    margin-left: 12%;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

/* Profile picture */
.profile-pic 
{
    width: 155px;
    height: 155px;
    background-color: #000;
    border-radius: 50%;
    border: none;
    margin-right: 30px;
    flex-shrink: 0;
}
.profile-pic-placeholder 
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* profile data */
.profile-info 
{
    flex-grow: 1;
    margin-top: -15px;
    margin-left: 60px;
}

/* username */
.username-section 
{
    display: flex;
    align-items: center;
    gap: 20px;
}
.username-section span 
{
    font-size: 20px;
    font-weight: 400;
}

/* buttons near username */
.edit-profile, .view-archive 
{
    background-color: #f0f2f5;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    height: 30px;
    width: 105px;
}
.edit-profile
{
    margin-left: -5px;
    margin-right: -10px;
}
.edit-profile:hover, .view-archive:hover
{
    background-color: #e7eaee;
}
.settings-profile
{
    margin-left: -10px;
    cursor: pointer;
}



/* stats of posts, following and followers */
.stats-section 
{
    display: flex;
    gap: 40px;
    font-size: 16px;
    color: #767676;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.statsCount
{
    color: black;
    font-weight: 500;
}

/* threads and full name */
.threads-section 
{
    font-size: 16px;
    margin-top: 10px;
}
.threads-section span
{
    display: block;
}
#fullName
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 500;
}

/* threads button */
#threadsPart
{
    background-color: #efefef;
    width: fit-content;
    border-radius: 28px;
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;

    display: flex;
    align-items: center;
    padding: 3px 5px;

    cursor: pointer;
}
#threadsLogo
{
    width: 15px;
    height: 15px;
    margin: 0;
}
#threadsPart:hover
{
    background-color: #e3e3e3;
}

#profileBio {
    max-width: 40%;  
    white-space: normal;
    overflow-wrap: break-word;
}

/* highlights icon */
.highlights-section
{
    margin-left: 10.5%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    column-count: 1;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: 3px solid #dbdbdb;
    cursor: pointer;

    border-radius: 50%;
    cursor: pointer;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
}
#plusIcon
{
    margin-top: 40px;
    width: 50px;
    opacity: 0.2;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
}
.highlights-section span 
{
    margin-top: 30px;
    font-size: 11.5px;
    color: #000;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: auto;
}











/* pop up settings */
.settings-modal
{
    display: none;      
}

.no-scroll      /* block scroll if div is shown */ 
{
    overflow: hidden;
}

.overlay     /* dark backround */
{
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;

    background: rgba(0, 0, 0, 0.5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modal     /* White box */
{
    margin-bottom: 220px;
    background: #fff;
    border-radius: 25px;
    overflow: hidden;
    z-index: 9999;


    width: 560px;
    height: 200px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

.settingsButtons
{
    display: block;
    width: 560px;
    height: 50px;
    font-family: 'Plus Jakarta Sans', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    border: none;
    cursor: pointer;
}
#editProfile, #deleteAccount, #logOut
{
    border-bottom: 1px solid #d3d1d1;
}


.delete-modal
{
    position: relative;
    display: none;
}
.deleteQuestions
{
    display: block;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
#deleteQuestion1
{
    margin-top: 2%;
    margin-bottom: 1%;
    font-size: 20px;
}
#deleteQuestion2
{
    font-size: 16px;
}
.deleteButtons
{
    position: absolute;
    display: flex;
    top: 41%;

    padding-left: 4%;
    padding-right: 4%;
    padding-top: 0.70%;
    padding-bottom: 0.75%;

    font-size: 20px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 12px;

    cursor: pointer;
}
#yesDelete
{
    left: 51%;
    background-color: rgb(216, 47, 47);
}
#noDelete
{
    left: 38%;
    font-size: 20px;
    background-color: rgb(196, 224, 247);
}



.logout-modal
{
    position: relative;
    display: none;
}
#logoutQuestion
{
    display: block;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin-top: 2%;
    margin-bottom: 1%;
    font-size: 20px;
}
.logoutButtons
{
    position: absolute;
    display: flex;
    top: 41%;

    padding-left: 4%;
    padding-right: 4%;
    padding-top: 0.70%;
    padding-bottom: 0.75%;

    font-size: 20px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 12px;

    cursor: pointer;
}
#yeslogout
{
    left: 51%;
    background-color: rgb(216, 47, 47);
}
#nologout
{
    left: 38%;
    font-size: 20px;
    background-color: rgb(196, 224, 247);
}





#overlay2 {
    position: fixed;
    width: 100%;
    height: 100%;

    z-index: 3;
}

#search-modal {
    width: 350px;
    height: 100%;
    position: absolute;
    left: 240px;
    top: 0;

    border-left: 1px solid lightgrey;
    border-radius: 0 20px 20px 0;
    background: #fff;
    box-shadow: 20px 0 30px -10px #0000001e;

    z-index: 0;
    transform-origin: left;
    transform: translateX(0);
    transition: transform 0.5s ease;
}

.search-modal-collapsed {
    transform: translateX(-110%) !important;
    pointer-events: none;
}

#search-header {
    margin-left: 20px;
    font-size: 1.4em;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    overflow: hidden;

    h3 {
        font-weight: 500;
        margin-left: 10px;
    }

}

#sidebar-search {
    margin-top: 15px;
    width: 95%;
    height: 45px;
    overflow: hidden;
}

#sidebar-search-input {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 40px;
    width: 315px;
    height: 45px;
    font-size: 0.8em;
    font-weight: 200;
    border: none;
    border-radius: 8px;
    background: #ededed;
    position: absolute;
}

#sidebar-search svg {
    position: relative;
    top: 50%;
    left: 95%;
    translate: -50% -50%;
    color: #c8c8c8;
    cursor: pointer;
}

#results {
    width: 350px;
    margin-top: 25px;
    height: calc(100% - 6% - 125px);
    overflow-x: hidden;
    position: absolute;
    overflow-y: hidden;
}

#pre-search, #post-search {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

#pre-search {
    border-top: 1px solid lightgrey;
}

#pre-search h4 {
    margin-left: 30px;
    font-size: 1.1em;
}

.search-results {
    width: 350px;
    height: 100%;
    left: 300px;

    display: flex;
    justify-content: center;
}

.no-recent-search {
    align-self: center;
    color: #878787;
    font-weight: 500;
    margin-bottom: 15px;
}

#post-search ul {
    position: absolute;
    width: 100%;
    list-style: none;
    left: 15px;
    margin: 0;
    padding: 0;
}

#post-search ul li {
    width: 320px;
    height: 50px;
    padding: 5px 0;

    display: block;
    align-items: center;

    transition: background 0.2s ease-out;
    cursor: pointer;
}

#post-search ul li:hover {
    background: #0000000b;
}

.search-result-account-pfp {
    width: 50px;
    height: 50px;
    position: absolute;
    display: flex;
}

.search-result-account-pfp img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;  /* חשוב כדי שהתמונה לא תימתח */
}


.search-result-account-description {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    margin-top: 3px;
}

.search-result-account-username {
    color: black;
    font-weight: 600;
}

.search-result-account-fullname {
    color: grey;
    font-weight: 400;

    white-space: nowrap;
}




#post-search ul li {
    position: relative;
    padding: 10px;
}

.follow-btn 
{
    position: absolute;
    left: 220px;
    bottom: 13px;
    padding: 6px 10px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.85em;
    transition: all 0.2s ease;
}

.follow-btn 
{
    background-color: #1da1f2; /* כחול-טוויטר לדוגמה */
    color: white;
}

.follow-btn.unfollow 
{
    background-color: rgb(204, 107, 128);
    color: white;
    border: 1px solid #ccc;
}






/* small logos between higlights ad posts */
.postsAndSaved
{
    width: 100%;
}
.postsSavedTaggedLogos
{
    color: #959595;
    margin-top: 80px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}
.postsSavedTaggedLogos.active
{
    border-bottom: 2px solid black;
    color: black;
}
#postsLogo      
{
    margin-left: 22%;
}
#savedLogo
{
    margin-left: 8%;
}
#taggedLogo
{
    margin-left: 8%;
}


.sp-div     /* grey line under the small logos */     
{
    align-items: center;
    margin: auto;
    margin-top: -4px;

    width: 1000px;
    display: flex;
}
.line       
{
    align-items: center;
    border: none;
    border-top: 1px solid rgba(219,219,219,255);
    margin: 0 20px;
    margin-left: -25%;

    width: 100%;
}



/* posts/saved/tagged section */
.shareIcon      /* icon */
{
    margin-top: 3.5%;
    margin-left: 34.5%;
}
.shareHeader        /* rext header */
{
    margin-left: 31%;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}
.shareDescription   /* sentence describing the page */
{
    margin-left: 26%;
    font-size: 14px;
}
.shareLink      /* link to create/save */
{
    margin-left: 32.5%;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #361aec;
}

/* small placing adjustments */
#startSaving    /* saving adjustment */
{
    margin-left: 31.5%;
}
#savingDescription
{
    margin-left: 29%;
}
#savingLink
{
    margin-left: 33%;
}

#photosOfYou    /* tagging adjustment */
{
    margin-left: 30.8%;
}
#PhotosDescription
{
    margin-left: 27.8%;
}

/* show div based of users decision(js) */
.SharePhotos 
{
    display: none;
}

.SharePhotos.active 
{
    display: block;
}




/* bottom linksbar */
#linksBar-div    
{
    margin-left: 3%;
    padding: 1%;


    font-size: 4%;
}

.link       
{
    border: none;
    background-color: white;

    font-size: 11px;
    color: #767676;
    margin-right: 0.05%;
    letter-spacing: 0.3px;

    cursor: pointer;
}
.link:hover
{
    text-decoration: underline;
}
.link:active
{
    color: rgba(216,216,216,255);
}



#lang-div     /* change language button */
{
    margin-left: -28%;
    align-items: center; 
    justify-content: center;
    gap: 1%; 

    position: absolute;
    display: flex;
    font-family: sans-serif;
}

#language      
{
    text-align: right;
    padding: 6px;
    background-color:white;
        border: none;


    width: fit-content;
    color: #767676;
    font-size: 12px;

    cursor: pointer;
}

#copyright    
{
    margin: 0;

    font-size: 12px;
    color: #767676;
}