  <!-- ron-lhayanie-329681662-or-benshoshan-333173045 -->

<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="profile.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" type="image/png">
</head>



<body>

    <div class="container">


        <!-- left sidebar with logos -->
        <aside class="sidebar-left dimmable">
            <div class="sidebar-top">
        
                <div class="sidebar-item logo-container">
                    <img id="logo-img-full" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/840px-Instagram_logo.svg.png" alt="Instagram Logo">
                </div>
    
                <div class="sidebar-item sidebar-hoverable" onclick="goToFeed()">
                    <img id="left-sb-home" 
                    src="https://cdn4.iconfinder.com/data/icons/top-search-7/128/_home_house_building_property_estate-512.png" alt="home">
                    <span>Home</span>
                </div>
    
                <div id="search-toggle" class="sidebar-item sidebar-hoverable">
                    <img src="https://cdn-icons-png.flaticon.com/256/54/54481.png" alt="searchbar">
                    <span>Search</span>
                </div>
    
                <div class="sidebar-item sidebar-hoverable">
                    <img src="https://www.svgrepo.com/show/26523/explore-tool.svg" alt="explore">
                    <span>Explore</span>
                </div>
    
                <div class="sidebar-item sidebar-hoverable">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzafXPewDK-Ks8yO73WkQ4_AXYo4-IDE_h2w&s" alt="reel">
                    <span>Reels</span>
                </div>
    
                <div class="sidebar-item sidebar-hoverable">
                    <img src="https://static.thenounproject.com/png/3084968-200.png" alt="message">
                    <span>Messages</span>
                </div>
    
                <div class="sidebar-item sidebar-hoverable">
                    <img src="https://cdn-icons-png.flaticon.com/128/1077/1077035.png" alt="notif">
                    <span>Notifications</span>
                </div>
    
                <div class="sidebar-item sidebar-hoverable" id="create-post-button">
                    <img src="https://cdn-icons-png.flaticon.com/128/10103/10103630.png" alt="create">
                    <span>Create</span>
                </div>
    
                <div class="sidebar-item sidebar-hoverable">
                    <img id="pfp-l" src="https://cdn-icons-png.flaticon.com/512/12225/12225935.png" alt="pfp">
                    <span><b>Profile</b></span>
                </div>
            </div>
    
            <div class="sidebar-bottom">
                <div class="sidebar-item sidebar-hoverable">
                    <img src="https://cdn-icons-png.flaticon.com/128/12105/12105337.png" alt="threads">
                    <span>Threads</span>
                </div>
    
                <div class="sidebar-item sidebar-hoverable">
                    <img src="https://cdn-icons-png.flaticon.com/128/9091/9091427.png" alt="more">
                    <span>More</span>
                </div>
            </div>
        </aside>  



 
    </div>

  <script src="profile.js"></script>
  </body>
  </html> 
